<ion-header class="mobile-header">  
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="myMenu"></ion-menu-button>
    </ion-buttons>
    <div slot="start" >
      <ion-searchbar 
        color="dark" 
        (ionInput)="onSearchInput($event)"
        placeholder="Chercher un restaurant"
        ></ion-searchbar>
        <ion-label *ngIf="selectedFranchise">
          {{selectedFranchise.d_nomFranchise}}
        </ion-label>
    </div>
    <div slot="end">
      <ion-button [routerLink]="['/login']" *ngIf="isConnected() ? false : true" color="tertiary">
        <ion-label color="dark">Se connecter</ion-label>
      </ion-button>
      <ion-button [routerLink]="['/register']" *ngIf="isConnected() ? false : true" color="tertiary">
        <ion-label color="dark">S'inscrire</ion-label>
      </ion-button>
      <ion-button [routerLink]="['/myBasket']" *ngIf="isConnected() ? true : false" color="success">
          <ion-label class="basketCount" color="danger">{{this.basketCount}}</ion-label>
          <ion-icon name="basket" size="large" color="dark"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/account']" *ngIf="isConnected() ? true : false" color="success">
        <ion-icon name="person-circle-outline" size="large" color="dark"></ion-icon>
      </ion-button>
    </div>

    <ion-title color="primary">{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar color="primary" class="header ion-align-items-center">
  <img slot="start" src="../../../assets/GoodFood_Logo1.png"  (click)="backHome()" class="btnHomeGf" width="100px">
  <div slot="start" style="width: 100%;">
    <ion-searchbar 
      color="dark" 
      (ionInput)="onSearchInput($event)"
      placeholder="Chercher un restaurant"
      ></ion-searchbar>
      <ion-label *ngIf="selectedFranchise">
        {{selectedFranchise.d_nomFranchise}}
      </ion-label>
  </div>
  <div slot="end">
    <ion-button [routerLink]="['/login']" *ngIf="isConnected() ? false : true" color="tertiary">
      <ion-label color="dark">Se connecter</ion-label>
    </ion-button>
    <ion-button [routerLink]="['/register']" *ngIf="isConnected() ? false : true" color="tertiary">
      <ion-label color="dark">S'inscrire</ion-label>
    </ion-button>
    <ion-button [routerLink]="['/myBasket']" *ngIf="isConnected() ? true : false" color="success">
        <ion-label class="basketCount">{{this.basketCount}}</ion-label>
        <ion-icon name="basket" size="large" color="dark"></ion-icon>
      <ion-label color="dark">Mon panier</ion-label>
    </ion-button>
    <ion-button [routerLink]="['/account']" *ngIf="isConnected() ? true : false" color="success">
      <ion-icon name="person-circle-outline" size="large" color="dark"></ion-icon>
      <ion-label color="dark">Mon compte</ion-label>
    </ion-button>
  </div>
</ion-toolbar>
<ion-toolbar color="secondary" class="header ion-align-items-center">
  <ion-button [routerLink]="['/']" slot="start">
    <ion-label>Notre sélection !</ion-label>
  </ion-button>
  <ion-button [routerLink]="['/us']"  slot="start">
    <ion-label>Qui sommes nous ?</ion-label>
  </ion-button>
  <ion-button [routerLink]="['/products']" slot="start">
    <ion-label>Nos produits</ion-label>
  </ion-button>
  <ion-button [routerLink]="['/menus']" slot="start">
    <ion-label>Nos menus</ion-label>
  </ion-button>
  <ion-button [routerLink]="['/form']" slot="end" *ngIf="role.toUpperCase() === 'ADMIN'">
    <ion-icon name="settings" size="large"></ion-icon>
    <ion-label>Administration</ion-label>
  </ion-button>
  <!-- <ion-toggle slot="end" (ionChange)="switchTheme()"></ion-toggle> -->
</ion-toolbar>

<ion-toolbar *ngIf="displayFranchise && searchFranchise !== ''" style="height: 50vh;">
  <ion-card *ngFor=" let item of franchises" color="success" style="width:80%; margin: 0 auto; margin-bottom: 10px; padding: 20px;" (click)="selectFranchise(item)">
    <ion-label style="font-size: large; width: 100%; display: block;">{{item.d_nomFranchise}}</ion-label>
    <ion-label style="font-size: large; width: 100%; display: block;">{{item.b_emailFranchise}}</ion-label>
  </ion-card>
</ion-toolbar>