<ion-header>
  <ion-toolbar>
    <ion-title>basket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pageContent">
    <ion-card class="productContainer" *ngFor="let art of Articles">
      <div class="cardContent">
        <ion-toolbar color="primary" class="productToolbar">
          <img class="productPicture" slot="start" height="80px" src="{{art.url_img}}" style="display:block;"/> 
          <ion-label class="toolboxContent">{{art.ref}}</ion-label>
          <ion-label class="toolboxContent">
            {{art.des}}
          </ion-label>
          <div slot="end"> 
            <ion-icon name="remove-circle" size="small"></ion-icon>
            <ion-label class="toolboxContent">
              {{art.qty}}        
            </ion-label>
            <ion-icon name="add-circle" size="small" ></ion-icon>
          </div>
          <ion-label slot="end" class="toolboxContent" class="productPrice">250 000 €</ion-label>
          <ion-button slot="end" (click)="deleteArtFromBasket(art)">
            <ion-label>Supprimer du panier</ion-label>
            <ion-icon color="secondary" name="trash" size="large"></ion-icon>
          </ion-button>
        </ion-toolbar>

      </div>    
    </ion-card>
    <ion-card class="productContainer">
      <ion-toolbar color="primary" class="productToolbar">
        <ion-label class="toolboxContent">
          TOTAL :         
        </ion-label>
        <ion-label slot="end" class="toolboxContent">2 000 000 €</ion-label>
      </ion-toolbar>
      <ion-button color="tiertiary">Valider la panier</ion-button>
    </ion-card>
    </div>
</ion-content>
