.pageContent{
    width: 80%;
    margin: 0 auto;
    min-height: 100%;
    background-color: white;
    //padding: 15px;
    z-index: 0;

}

.productToolbar{
    padding: 15px;
}



.productToolBar{
    width: 100%;
}



.article_lib{
    width: 50%;

}

.article_desc{
    width: 50%;
}

.pointer { cursor: pointer; }

.cardContent{
    padding: 15px;
}

.contentBorders{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
}
.totaux{
    background-color: white;
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    width: 75%;
    margin: 0 auto;
    z-index: 10;
}

.stack-present{
    height: 15vh;
    background-image: url("/assets/recipe_wallpap.jpg");    
}