.pageContent{
    width: 80%;
    margin: 0 auto;
    min-height: 100%;
    background-color: #222428;
    padding: 15px;
}

.productToolbar{
    padding: 15px;
}

.productPicture{
    margin-right: 20px;
    border-radius: 10px;
}

.productToolBar{
    height: 75px;
}

.productPrice{
    margin-right: 50px;
    margin-left: 50px;
}

.article_lib{
    width: 100%;
}

.article_desc{
    width: 100%;
}

.poductContainer{
    height: 50px;

}
.productPicture{
    width: 100px;
}
.pointer { cursor: pointer; }

.cardContent{
    padding: 15px;
}

.totToolBars{
    height: 50px;
}

.contentBorders{
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.totaux{
    margin-top: 150px;
}