.pageContent{
    padding: 15px;
    width: 80%;
    margin: 0 auto;
}

.productToolbar{
    padding: 15x;
}

.productPicture{
    margin-right: 20px;
}

.productToolBar{
    height: 45px;
}

.productPrice{
    margin-right: 50px;
    margin-left: 50px;
}

.article_lib{
    width: 150px;
}

.article_desc{
    width: 350px;
}

.productPicture{
    width: 100px;
}