<ion-header>
  <ion-toolbar>
    <ion-title>basket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pageContent contentBorders">
    <div class="contentBorders">
      <ion-card class="productContainer contentBorders" *ngFor="let art of Articles" color="primary">
        <div class="cardContent">
          <ion-toolbar class="productToolbar" color="success">
            <img class="productPicture" slot="start" src="{{art.article.urlImgArticle}}" style="display:block;"/> 
            <div style="width: 50%;display: inline-block;" slot="start">
              <h3><ion-label class="article_lib">{{art.article.libelleArticle}}</ion-label></h3>
              <ion-label class="article_desc">
                {{art.article.descriptionArticle}}
              </ion-label>
            </div>
            <div slot="start"> 
              <ion-icon name="remove-circle" size="small" class="pointer" (click)="decreaseArtQtyFromBasket(art)"></ion-icon>
              <ion-label class="toolboxContent">
                {{art.quantiteArticle}}        
              </ion-label>
              <ion-icon name="add-circle" size="small" class="pointer" (click)="increaseArtQtyFromBasket(art)"></ion-icon>
            </div>
            <ion-label slot="end" class="toolboxContent" class="productPrice">{{art.article.prixArticleHt * art.quantiteArticle }} €</ion-label>
            <ion-button slot="end" (click)="deleteArtFromBasket(art)" color="tertiary">
              <ion-label>Supprimer du panier</ion-label>
              <ion-icon color="dark" name="trash" size="large" style="margin-left: 10px;"></ion-icon>
            </ion-button>
          </ion-toolbar>
        </div>    
      </ion-card>
        <ion-card class="productContainer totaux contentBorders">
          <ion-toolbar color="primary" class="totToolBars" style="padding: 10px;">
            <h5><ion-label class="toolboxContent">TOTAL HT:</ion-label></h5>
            <ion-label slot="end" class="toolboxContent">{{Commande.calculerTotalHt()}} €</ion-label>
          </ion-toolbar>
          <ion-toolbar color="success" class="totToolBars" style="padding: 10px;">
            <h4><ion-label>TTC :</ion-label></h4>
            <ion-label slot="end" class="toolboxContent">{{Commande.calculerTotalTtc()}} €</ion-label>
          </ion-toolbar>
          <ion-toolbar style="padding: 10px;" class="totToolBars">
            <ion-button color="secondary" slot="end" (click)="validateOrder()">Valider la panier</ion-button>
          </ion-toolbar>
        </ion-card>
    </div>
    </div>
</ion-content>
