<ion-header class="stack-present">

</ion-header>
<ion-content>
  <div class="pageContent contentBorders">
    <ion-item color="success" style="margin-top: 25px;border-radius: 10px;">
      <ion-label>
        <h1>Mon panier :</h1>
      </ion-label>
    </ion-item>
    <ion-grid class="productToolbar">
        <ion-row class="ion-justify-content-center ion-align-items-center" *ngFor="let art of Articles">
          <ion-col size="12" size-md class="ion-align-items-center">
              <img class="productPicture" src="{{art.article.f_urlImgArticle}}" width="100px"/>
            <div style="display: inline-block;">
              <div>
                <h3>
                  <ion-label class="article_lib">{{art.article.d_libelleArticle}}</ion-label>
                </h3>
                <ion-label class="article_desc">
                  {{art.article.e_descriptionArticle}}
                </ion-label> 
              </div>
            </div>
          </ion-col>
          <ion-col size="12" size-md class="ion-align-items-center">
            <div>
              <ion-icon name="remove-circle" size="small" class="pointer" (click)="decreaseArtQtyFromBasket(art)">
              </ion-icon>
              <ion-label class="toolboxContent ion-text-center">
                {{art.d_quantiteArticle}}
              </ion-label>
              <ion-icon name="add-circle" size="small" class="pointer" (click)="increaseArtQtyFromBasket(art)"></ion-icon>
            </div>
          </ion-col>          
          <ion-col size="12" size-md class="ion-align-items-center">
            <ion-label color="primary" class="toolboxConten ion-text-center" class="productPrice">{{art.article.g_prixArticleHt *
              art.d_quantiteArticle }} €
            </ion-label>
          </ion-col>          
          <ion-col size="12" size-md>
            <ion-button label color="primary" (click)="deleteArtFromBasket(art)" color="tertiary">
              <ion-label>Supprimer du panier</ion-label>
              <ion-icon color="dark" name="trash" size="large"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    <ion-card class="productContainer totaux contentBorders">
      <ion-toolbar class="totToolBars" style="padding: 5px; height: 50px;">
        <h5>
          <ion-label class="toolboxContent">TOTAL HT:</ion-label>
        </h5>
        <ion-label slot="end" class="toolboxContent">{{Commande.calculerTotalHt()}} €</ion-label>
      </ion-toolbar>
      <ion-toolbar class="totToolBars" style="padding: 5px; height: 50px;">
        <h4>
          <ion-label>TTC :</ion-label>
        </h4>
        <ion-label slot="end" class="toolboxContent">{{Commande.calculerTotalTtc()}} €</ion-label>
      </ion-toolbar>
      <ion-toolbar color="success" style="padding: 15px;" class="totToolBars">
        <ion-button slot="end" (click)="validateOrder()" style="margin: 10px;">Valider le panier</ion-button>
      </ion-toolbar>
    </ion-card>
  </div>
</ion-content>