<ion-header>
  <ion-toolbar>
    <ion-title>Administration des {{MyForm.title}}s</ion-title>
  </ion-toolbar>
  <ion-toolbar class="objChoice">
    <ion-button [routerLink]="['/form/Article']" >Article</ion-button>
    <ion-button [routerLink]="['/form/Categorie_Article']" >Catégorie article</ion-button>
    <ion-button [routerLink]="['/form/Commande']" >Commande</ion-button> 
    <ion-button [routerLink]="['/form/Promo']" >Promos</ion-button>
    <ion-button [routerLink]="['/form/Adresse_Fournisseur']" >Adresse Fournisseur</ion-button>
    <ion-button [routerLink]="['/form/Adresse_Utilisateur']" >Adresse Utilisateur</ion-button>
    <ion-button [routerLink]="['/form/Allergene']" >Allergene</ion-button>
    <ion-button [routerLink]="['/form/Article_Allergene']" >Article Allergene</ion-button>
    <ion-button [routerLink]="['/form/Fournisseur']" >Fournisseur</ion-button>
    <ion-button [routerLink]="['/form/Franchise']" >Franchise</ion-button>
    <ion-button [routerLink]="['/form/Groupe_Franchise']" >Groupe Franchise</ion-button> 
    <ion-button [routerLink]="['/form/Utilisateur']" >Utilisateur</ion-button> 
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="formContent">

    <form>
      <ion-card *ngFor="let item of MyForm.properties" color="primary" class="card">
        <h5>
          <ion-label class="itemBlock" *ngIf="item.alias!==''" color="success">{{item.alias.replace('id','').toUpperCase()}} :</ion-label>
        </h5>
        <ion-item class="item">

          <ion-input class="itemBlock" 
                    *ngIf="item.type === 'number' && item.nom.includes('id') && item.alias.includes(MyForm.title)" 
                    type="number" 
                    name="{{item.nom}}" 
                    (input)="onIdChange($event.target)" 
                    [(ngModel)]="item.value"
                    name="item.nom"
                    [ngModelOptions]="{standalone: true}"
                    ></ion-input>

          <ion-input class="itemBlock" 
                    *ngIf="item.type === 'string'" 
                    type="text" 
                    name="{{item.nom}}" 
                    [(ngModel)]="item.value"
                    name="item.nom"
                    [ngModelOptions]="{standalone: true}"
                    ></ion-input>

          <ion-input class="itemBlock" 
                    *ngIf="item.type === 'number' && !item.nom.includes('id')" 
                    type="number" 
                    name="{{item.nom}}" 
                    [(ngModel)]="item.value"
                    name="item.nom"
                    [ngModelOptions]="{standalone: true}"
                    ></ion-input>
            <div>
              <ion-card *ngIf="item.alias.includes('id') && !item.alias.includes(MyForm.title) && !item.value !== undefined" color="secondary">
                <ion-label name="item.nom" *ngFor="let prop of item.objectReference" color="primary">{{prop}}</ion-label>
              </ion-card>
              <ion-button *ngIf="item.nom.includes('id') && !item.alias.includes(MyForm.title)" (click)="openModal(item.externalRouteRessource,item)">
                Rechercher un(e) {{item.nom.replace('id','')}}
              </ion-button>
            </div>

          <ion-radio-group value="item.value" *ngIf="item.type === 'boolean'" name="item.nom">       
            <ion-item color="dark">
              <ion-label>Oui</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
        
            <ion-item color="dark">
              <ion-label>Non</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-item>
      </ion-card>
      <ion-button (click)="createNewElement()">Créer un nouvel {{MyForm.title}}</ion-button>
      <ion-button (click)="editElement()">Modifier un {{MyForm.title}}</ion-button>
      <ion-button (click)="deleteElement()">Supprimer un {{MyForm.title}}</ion-button>
    </form>
  </div>

</ion-content>  
