.mainContent{
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
}
.title{
    height: 7.5vh;
    font-size: large;
    font-weight: bold;
}
.stack-present{
    height: 12vh;
    background-image: url("/assets/recipe_wallpap.jpg");    
}