
.btnHomeGf{
  background-image: url("/assets/GoodFood_Logo1.png");
  width: 150px;
  height: 80px;
  background-size: 70%;
  background-position: center;  
  background-repeat: no-repeat;
}
.site-content{
  margin-top: 30px;
}
.divRouterAnim{
  width: 100%;
}
.basketCount{
  background-color: red;
}
ion-toast.success 
    .toast-wrapper  {
        background: rgb(209, 71, 71);
        box-shadow: 1.5px 1.5px 1.5px 1.4px rgba(0, 0, 0, 0.521);
        border-style:inset;
        border-radius: 10px;
        border-color: rgba(0, 0, 0, 0.521);;
    }
ion-icon{
  margin-left: 2px;
  margin-right: 8px;
}