<ion-app>
    <ion-header class="main-header">
      <ion-toolbar color="primary">
        <ion-icon (click)="backHome()" slot="start" class="btnHomeGf">
        </ion-icon>
        <ion-searchbar></ion-searchbar>
        <div slot="end" color="tertiary">
          <ion-button [routerLink]="['/login']" *ngIf="!IsConnected">
            <ion-label>Se connecter</ion-label>
          </ion-button>
          <ion-button [routerLink]="['/register']" *ngIf="!IsConnected">
            <ion-label>S'inscrire</ion-label>
          </ion-button>
          <ion-button [routerLink]="['/myBasket']" *ngIf="IsConnected" color="light">
            <ion-icon name="basket" size="large"></ion-icon>
            <ion-label>Mon panier</ion-label>
          </ion-button>
          <ion-button [routerLink]="['/account']" *ngIf="IsConnected" color="light">
            <ion-icon name="person-circle-outline" size="large"></ion-icon>
            <ion-label>Mon compte</ion-label>
          </ion-button>
        </div>
      </ion-toolbar>
      <ion-toolbar color="tertiary">
        <ion-button [routerLink]="['/']" slot="start">
          <ion-label>Commander</ion-label>
        </ion-button>
        <ion-button [routerLink]="['/us']"  slot="start">
          <ion-label>Qui sommes nous ?</ion-label>
        </ion-button>
        <ion-button [routerLink]="['/products']" slot="start">
          <ion-label>Nos produits</ion-label>
        </ion-button>
        <ion-button [routerLink]="['/menus']" slot="start">
          <ion-label>Nos menus</ion-label>
        </ion-button>
        <ion-button [routerLink]="['/form']" slot="end">
          <ion-icon name="settings" size="large"></ion-icon>
          <ion-label>Administration</ion-label>
        </ion-button>
        <ion-toggle slot="end" (ionChange)="switchTheme()"></ion-toggle>
      </ion-toolbar>
  </ion-header>
  <ion-split-pane id="content-for-anim" contentId="main-content" [@triggerName]="prepareRoute()">
    <ion-menu id="leftMenu" contentId="main-content" type="overlay">
      <ion-content>
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" class="site-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
