ion-split-pane{
  margin-top: 100px;
}
ion-menu{
  display: none;
  position: relative;
}
.btnHomeGf{
  height: 80px;
}
.site-content{
  margin-top: 30px;
}
.divRouterAnim{
  width: 100%;
}
.basketCount{
  background-color: red;
}
ion-toast.success 
    .toast-wrapper  {
        background: rgb(209, 71, 71);
        box-shadow: 1.5px 1.5px 1.5px 1.4px rgba(0, 0, 0, 0.521);
        border-style:inset;
        border-radius: 10px;
        border-color: rgba(0, 0, 0, 0.521);;
    }
.my-custom-menu {
  --width: 500px;
}
/* quand il n'y a pas de #wrap dans l'url (jenseign.com.com/page.html) */
#wrap:not(:target) {
  transform: translate3d(-335px, 0, 0); /* cache l'élément #wrap */
}

/* quand il y a un #wrap dans l'url (jenseign.com.com/page.html#wrap) */
#wrap:target {
  transform: translate3d(0, 0, 0); /* affiche l'élément */
}
@media (max-width: 480px) {

}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {

}

/* Media Query for Large screens */
@media (min-width: 1281px) {

}

.active-item {
    color: var(--ion-color-primary);
    font-weight: 500;
    ion-icon {
        color: var(--ion-color-primary);
    }
}