.headerCard{
    //box-shadow: 1.5px 1.5px 1.5px 1.4px rgba(0, 0, 0, 0.521);
    border-radius: 10px 0 0 !important;
    color:rgb(0, 0, 0);
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.artCard{
    text-align: center;
    min-width: 200px;
    width: 70%;
    display: inline-block;
    height: 100%;
    border-radius: 10px 10px 0 0 !important;
    // box-shadow: 1.5px 1.5px 1.5px 1.4px rgba(0, 0, 0, 0.521);
}


.productPicture{
    border-radius: 10px;
    display:block;
    margin: 0 auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40vh;
    object-fit: cover;
}

.description{
    border-radius: 10px;
    display:block;
    margin: 0 auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    width:60%;
}

.mainContent{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    min-height: 100%;
    background-color: #ffffff;
}


.stack-present{
    height: 15vh;
    background-image: url("/assets/recipe_wallpap.jpg");    
}