<ion-header class="stack-present">

</ion-header>
<ion-content>
  <div class="mainContent">
    <ion-card *ngIf="article !== undefined" class="artCard" style="height: 80%;" style="background-color: rgba(186, 194, 191, 0.24); padding-top: 10px;" color="success">
      <div class="cardContent" >
        <ion-toolbar color="success" class="headerCard">
          <div>
            <h5><b><ion-label slot="start">{{article.d_libelleArticle}}</ion-label></b></h5>
          </div>
        </ion-toolbar>
        <ion-toolbar color="white" style="margin-top: 10px; padding: 10px;">
          <img src="{{article.f_urlImgArticle}}" class="productPicture">
          <ion-label color="dark" class="description">   
            {{article.e_descriptionArticle}}
          </ion-label>
        </ion-toolbar>
        <ion-toolbar style="padding-top: 10px;">
          <div style="width: 50%; float:left;">
            <ion-label color="dark">Allergènes</ion-label>
            <ion-card *ngFor="let allergene of artAllergenes" >
              <ion-label color="dark">{{allergene}}</ion-label>
            </ion-card>
          </div>  
          <div style="width: 50%; float:right; padding-bottom: 10px;">
            <ion-label color="dark">Promos</ion-label>
            <ion-card *ngFor="let promo of artPromos" >
              <ion-label color="dark">{{promo}}%</ion-label>
            </ion-card>
          </div>
        </ion-toolbar>
        <ion-item>
          <ion-label style="text-align: center;"><b>{{article.k_stockArticle}} en stock</b></ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="text-align: center;"><b>{{article.g_prixArticleHt}} €</b></ion-label>
        </ion-item>  
        <ion-button color="tertiary" class="btnCmd" text-wrap (click)="addItemToBasket(article)" style="width: 100%">
          <ion-label>
            Ajouter au panier
          </ion-label>
        </ion-button>   
      </div>    
    </ion-card>
  </div>
</ion-content>
