<ion-header class="stack-present">

</ion-header>

<ion-content>
  <div class="mainContent">
    <div class="list">
      <ion-card *ngFor="let number of [0,1,2,3,4]" class="artCard menu_1 menu_container">
        <div class="menuCardContent">
          <ion-toolbar color="primary">
            <ion-label slot="start">NOM DU MENU</ion-label>
            <ion-label slot="end">PRIX   €</ion-label>
          </ion-toolbar>
          <ion-label>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          </ion-label>
          <ion-toolbar color="primary">
            <ion-button slot="end">Commander maintenant !</ion-button>
          </ion-toolbar>      
        </div>
      </ion-card>
    </div>

  </div>
</ion-content>
