@media (max-width: 480px) {
  body {}
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  body {}
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  body {}
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  body {}
}

/* Media Query for Large screens */
@media (min-width: 1281px) {}

.form {
  margin-top: 5vh;
}

.login {
  width: 80%;
  margin: 0 auto;
  margin-top: 10vh;
  padding: 10px;
}

.logo {}

.divLogo {
  width: 30vh;
  margin: 0 auto;
}

.forgot-pwd {
  width: 100%;
  margin: 0 auto;
}

.formitem {
  margin: 35px;
}

ion-content {
  --ion-background-color: #ffffff;
}