.form {
  margin-top: 5vh;
}

.login {
  width: 80%;
  margin: 0 auto;
  margin-top: 10vh;
  padding: 10px;
}

.divLogo {
  width: 30vh;
  margin: 0 auto;
}

.forgot-pwd {
  width: 100%;
  margin: 0 auto;
}

.formitem {
  margin: 35px;
}

ion-content {
  --ion-background-color: #ffffff;
}