<ion-header>
  <ion-toolbar>
    <ion-title>Nos menus !</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="productsList">
    <ion-card class="productContainer" *ngFor="let number of [0,1,2,3,4]">
      <div class="cardContent">
        <ion-toolbar color="primary">
          <ion-label slot="start" class="toolboxContent">NOM DU MENUS</ion-label>
          <ion-label slot="end" class="toolboxContent">20.   €</ion-label>
        </ion-toolbar>
        <ion-label>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        </ion-label>
        <ion-toolbar color="primary">
          <ion-button slot="end" color="secondary">Commander maintenant !</ion-button>
        </ion-toolbar>      
      </div>    
    </ion-card>
  </div>
</ion-content>
