<ion-header>
  <ion-toolbar>
    <ion-title slot="start">{{email}}</ion-title>
    <ion-button color="secondary" slot="start" (click)="displayMode = 'Adresse_Utilisateur'">Mes adresses</ion-button>
    <ion-button color="secondary" slot="start" (click)="displayMode = 'Commande'">Mes commandes</ion-button>
    <ion-button color="secondary" (click)="deleteToken('token')" slot="end">Se deconnecter</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div clas="accountContainer">
    <div id="Adr" *ngIf="displayMode === 'Adresse_Utilisateur'">
      <app-adresse *ngIf="addressLivr" adr="addressLivr"></app-adresse>
      <app-adresse *ngIf="addressFact" adr="addressFact"></app-adresse>
    </div>
    <div id="Adr" *ngIf="displayMode === 'Commande'">
<!--       <ion-card *ngFor="let commande of commandes">
        {{commande.idUtilisateur}}
      </ion-card> -->
    </div>
  </div>
</ion-content>
