<ion-header>
  <ion-toolbar>
    <ion-title slot="start">{{this.user.d_emailUtilisateur}}</ion-title>
    <ion-button color="secondary" slot="start" (click)="displayMode = 'Adresse_Utilisateur'">Mes adresses</ion-button>
    <ion-button color="secondary" slot="start" (click)="displayMode = 'Commande'">Mes commandes</ion-button>
    <ion-button color="secondary" (click)="deleteToken('token')" slot="end">Se deconnecter</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div clas="accountContainer">
    <div id="Adr" *ngIf="displayMode === 'Adresse_Utilisateur'">
      <app-adresse *ngIf="addressLivr" adresseType="livr"></app-adresse>
      <app-adresse *ngIf="addressFact" adresseType="fact"></app-adresse>
    </div>
    <div id="Adr" *ngIf="displayMode === 'Commande'">
      <div *ngIf="commandes.length < 1" style="width: 70%; margin: 0 auto; margin-top: 25vh;" class="ion-text-center">      
        <ion-label color="danger">
          <h2>Vous n'avez pas de commande enregistrées.</h2>
        </ion-label>
      </div>

      <ion-card *ngFor="let commande of commandes" style="width: 70%; margin: 0 auto; margin-bottom: 10px;">
          <ion-item color="tertiary" style="margin-top: 25px;border-radius: 10px;">
            <ion-label>
              <h1>Commande n° {{commande.a_idCommande}}:</h1>
            </ion-label>
          </ion-item>
          <ion-row>
            <ion-col color="primary">
              <ion-text color="primary"><span class="label">Date</span></ion-text>
              <ion-input class="input" [value]="commande.e_dateCommande" [(ngModel)]="commande.e_dateCommande" padding-horizontal></ion-input>
            </ion-col>
            <ion-col>
              <ion-text color="primary"><span class="label">Total TTC</span></ion-text>
              <ion-input class="input" [value]="commande.f_totalTtc" [(ngModel)]="commande.f_totalTtc" padding-horizontal></ion-input>
            </ion-col>
            <ion-col>
              <ion-text color="primary"><span class="label">Statut</span></ion-text>
              <ion-input class="input" [value]="commande.g_statutCommande" [(ngModel)]="commande.g_statutCommande" padding-horizontal></ion-input>
            </ion-col>
            <ion-col>
              <ion-text color="primary"><span class="label">Numero franchise</span></ion-text>
              <ion-input class="input" [value]="commande.h_idFranchise" [(ngModel)]="commande.h_idFranchise" padding-horizontal></ion-input>
            </ion-col>
            <ion-col>
              <ion-button>
                <ion-text ><span class="label">details</span></ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
      </ion-card>
    </div>
  </div>
</ion-content>
