<ion-header>
  <ion-toolbar>
    <ion-title slot="start">{{email}}</ion-title>
    <ion-button color="secondary" slot="start" (click)="displayMode = 'Adresse_Utilisateur'">Mes adresses</ion-button>
    <ion-button color="secondary" slot="start" (click)="displayMode = 'Commande'">Mes commandes</ion-button>
    <ion-button color="secondary" (click)="deleteToken('token')" slot="end">Se deconnecter</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div clas="accountContainer">
    <div id="Adr" *ngIf="displayMode === 'Adresse_Utilisateur'">
      <ion-card class="adr" color="dark" *ngIf="addressLivr">
        <ion-item color="success" style="margin-top: 25px;border-radius: 10px;">
          <ion-label>
            <h1>Adresse de livraison :</h1>
          </ion-label>
        </ion-item>
        <ion-row>
          <ion-col color="success">
            <ion-text color="success"><span class="label">Nom</span></ion-text>
            <ion-input class="input" [value]="user.f_nomUtilisateur" [(ngModel)]="user.f_nomUtilisateur" padding-horizontal></ion-input>
          </ion-col>
          <ion-col>
            <ion-text color="success"><span class="label">Prenom</span></ion-text>
            <ion-input class="input" [value]="user.h_prenomUtilisateur" [(ngModel)]="user.h_prenomUtilisateur" padding-horizontal></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="success"><span class="label">Nom adresse</span></ion-text>
            <ion-input class="input" [value]="addressLivr.d_nomAdresse" [(ngModel)]="addressLivr.d_nomAdresse" padding-horizontal></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="success"><span class="label">Supp nom adresse</span></ion-text>
            <ion-input class="input" [value]="addressLivr.g_suppNomAdresse" [(ngModel)]="addressLivr.g_suppNomAdresse" padding-horizontal placeholder="Optionel"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="success"><span class="label">Pays</span></ion-text>
            <ion-select [(value)]="addressLivr.f_pays" class="input">
              <ion-select-option *ngFor="let q of countries" [(value)]="q.name">{{q.name}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="success"><span class="label">Ville</span></ion-text>
            <ion-input class="input" [value]="addressLivr.h_villeAdresse"  [(ngModel)]="addressLivr.h_villeAdresse" padding-horizontal></ion-input>
          </ion-col>
          <ion-col>
            <ion-text color="success"><span class="label">Code postal</span></ion-text>
            <ion-input class="input" [value]="addressLivr.c_codePostal" [(ngModel)]="addressLivr.c_codePostal" type="number" padding-horizontal></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="success"><span class="label">Numero de téléphone</span></ion-text>
            <ion-input class="input" [value]="user.g_numeroTelUtilisateur"  [(ngModel)]="user.g_numeroTelUtilisateur" type="number" padding-horizontal></ion-input>
          </ion-col>
        </ion-row>
        <ion-button expand="block" color="mytheme" class="bottom" (click)="update(addressLivr)"><span class="white"><strong>Enregistrer</strong></span></ion-button>
      </ion-card>
      <ion-card class="adr" color="dark" *ngIf="addressFact">
        <ion-item color="success" style="margin-top: 25px;border-radius: 10px;">
          <ion-label>
            <h1>Adresse de facturation :</h1>
          </ion-label>
        </ion-item>
        <ion-row>
          <ion-col color="success">
            <ion-text color="success"><span class="label">Nom</span></ion-text>
            <ion-input class="input" [value]="user.f_nomUtilisateur" [(ngModel)]="user.f_nomUtilisateur" padding-horizontal></ion-input>
          </ion-col>
          <ion-col>
            <ion-text color="success"><span class="label">Prenom</span></ion-text>
            <ion-input class="input" [value]="user.h_prenomUtilisateur" [(ngModel)]="user.h_prenomUtilisateur" padding-horizontal></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="success"><span class="label">Nom adresse</span></ion-text>
            <ion-input class="input" [value]="addressFact.d_nomAdresse" [(ngModel)]="addressFact.d_nomAdresse" padding-horizontal></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="success"><span class="label">Supp nom adresse</span></ion-text>
            <ion-input class="input" [value]="addressFact.g_suppNomAdresse" [(ngModel)]="addressFact.g_suppNomAdresse" padding-horizontal placeholder="Optionel"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="success"><span class="label">Pays</span></ion-text>
            <ion-select [(value)]="addressFact.f_pays" class="input">
              <ion-select-option *ngFor="let q of countries" [(value)]="q.name">{{q.name}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="success"><span class="label">Ville</span></ion-text>
            <ion-input class="input" [value]="addressFact.h_villeAdresse"  [(ngModel)]="addressFact.h_villeAdresse" padding-horizontal></ion-input>
          </ion-col>
          <ion-col>
            <ion-text color="success"><span class="label">Code postal</span></ion-text>
            <ion-input class="input" [value]="addressFact.c_codePostal" [(ngModel)]="addressFact.c_codePostal" type="number" padding-horizontal></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="success"><span class="label">Numero de téléphone</span></ion-text>
            <ion-input class="input" [value]="user.g_numeroTelUtilisateur"  [(ngModel)]="user.g_numeroTelUtilisateur" type="number" padding-horizontal></ion-input>
          </ion-col>
        </ion-row>
        <ion-button expand="block" color="mytheme" class="bottom" (click)="update(addressFact)"><span class="white"><strong>Enregistrer</strong></span></ion-button>
      </ion-card>  
    </div>
    <div id="Adr" *ngIf="displayMode === 'Commande'">
<!--       <ion-card *ngFor="let commande of commandes">
        {{commande.idUtilisateur}}
      </ion-card> -->
    </div>
  </div>
</ion-content>
