<ion-header>
  <ion-toolbar>
    <ion-title slot="start" >Nos produits ! ({{Articles.length}})</ion-title>
    <ion-icon slot="end" name="filter" class="pointer" size="large" (click)="showHideFilters()"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-toolbar color="secondary" *ngIf="filterVisible">
    <ion-title slot="start" >Filtres :</ion-title>
  </ion-toolbar>
  <div class="mainContent">
    <ion-slides pager="true" (ionSlideTouchEnd)="slideChanged()" style="height: 80%;">
      <ion-slide *ngFor="let slide of pageCount" style="padding: 20px;display: inline-block;" >
        <ion-card class="artCard" *ngFor="let art of Articles" style="height: 80%;" style="background-color: transparent;" color="success">
          <div class="cardContent" *ngIf="slide === currentSlideNumber || slide === currentSlideNumber-1 || slide === currentSlideNumber + 1">
            <ion-toolbar color="success" class="headerCard">
              <div>
                <h5><ion-label slot="start">{{art.libelleArticle}}</ion-label></h5>
                <ion-label slot="end" >{{art.prixArticleHt}} €</ion-label>
              </div>
            </ion-toolbar>
            <img src="{{art.urlImgArticle}}" class="productPicture"> 
            <ion-label>   
              {{art.descriptionArticle}}
            </ion-label>
            <ion-toolbar color="white" style="margin-top: 10px;">
              <ion-button slot="end" color="tertiary" class="btnCmd" text-wrap (click)="addItemToBasket(art)">
                <ion-label class="ion-text-wrap">
                  Commander maintenant
                </ion-label>
              </ion-button>
            </ion-toolbar>      
          </div>    
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-toolbar color="tiertiary" class="productsList">
  
      <ion-button color="secondary" slot="start" (click)="prevPage()">
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>  
      </ion-button>
  
      <div style="width: 100px; margin: 0 auto;text-align: center;">
        <ion-label slot="end" color="primary">Page</ion-label>
        <ion-select color="primary" style="width: 100px;color:black;" interface="action-sheet" [value]="currentSlideNumber" [compareWith]="compareWith" ionChange="setPage($target.value)">
          <ion-select-option  *ngFor="let page of pageCount" [value]="page" color="primary">
            <ion-label color="primary">{{page}}</ion-label>
          </ion-select-option >
        </ion-select>
        <ion-button color="secondary" slot="end" (click)="setPage()">
          <ion-label>Go !</ion-label>
        </ion-button>
      </div>
  
      <ion-button color="secondary" slot="end" (click)="nextPage()">
        <ion-icon name="arrow-forward-outline" size="large"></ion-icon>
      </ion-button>
  
    </ion-toolbar>
  
  </div>

</ion-content>
