<ion-header>
  <ion-toolbar>
    <ion-title slot="start" >Nos produits ! ({{nbArt}})</ion-title>
    <ion-icon slot="end" name="close" class="pointer" size="large" (click)="removeFilters()" color="danger"></ion-icon>
    <ion-icon slot="end" name="filter" class="pointer" size="large" (click)="showHideFilters()"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content> 
  <div>
    <div *ngIf="filterVisible">
      <ion-toolbar color="secondary">
        <ion-title slot="start" >Filtres :</ion-title>
        <ion-searchbar slot="start" [(ngModel)]="searchText" (keyup.enter)="searchArticle()"></ion-searchbar>
      </ion-toolbar>
      <ion-toolbar color="secondary">
        <ion-label slot="start" color="success">Choisir une categorie : </ion-label>
        <ion-select slot="start" style="width: 300px;" interface="action-sheet" [(ngModel)]="selectedCategorie">
          <ion-select-option *ngFor="let categorie of Categories" [value]="categorie.idCategorieArticle">
            <ion-label >{{categorie.libelleCategorieArticle}}</ion-label>
          </ion-select-option>
        </ion-select>
      </ion-toolbar>
    </div>
  </div>

  <div class="mainContent">
    <ion-slides pager="true" (ionSlideTouchEnd)="slideChanged()" style="height: 80%;">
      <ion-slide *ngFor="let page of Pages" style="padding: 20px;display: inline-block;" >
        <ion-card class="artCard" *ngFor="let art of page.Articles" style="height: 80%;" style="background-color: rgba(186, 194, 191, 0.24);" color="success">
          <div class="cardContent" >
            <ion-toolbar color="success" class="headerCard">
              <div>
                <h5><b><ion-label slot="start">{{art.libelleArticle}}</ion-label></b></h5>
                <ion-label>   
                  {{art.descriptionArticle}}
                </ion-label>
              </div>
            </ion-toolbar>
            <img src="{{art.urlImgArticle}}" class="productPicture"> 
            <ion-toolbar color="white" style="margin-top: 10px; padding: 10px;">
              <ion-label color="dark" slot="start" ><b>{{art.prixArticleHt}} €</b></ion-label>

              <ion-button slot="end" color="tertiary" class="btnCmd" text-wrap (click)="addItemToBasket(art)">
                <ion-label class="ion-text-wrap">
                  Ajouter au panier
                </ion-label>
              </ion-button>
            </ion-toolbar>      
          </div>    
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-toolbar color="tiertiary" class="productsList">
  
      <ion-button color="secondary" slot="start" (click)="prevPage()">
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>  
      </ion-button>
  
      <div style="width: 100px; margin: 0 auto;text-align: center;">
        <ion-label slot="end" color="primary">Page</ion-label>
        <ion-select color="primary" style="width: 100px;color:black;" interface="action-sheet" [value]="currentSlideNumber">
          <ion-select-option  *ngFor="let page of Pages" [value]="page.NumeroPage" color="primary">
            <ion-label color="primary">{{page.NumeroPage + 1}}</ion-label>
          </ion-select-option >
        </ion-select>
        <ion-button color="secondary" slot="end" (click)="setPage()">
          <ion-label>Go !</ion-label>
        </ion-button>
      </div>
  
      <ion-button color="secondary" slot="end" (click)="nextPage()">
        <ion-icon name="arrow-forward-outline" size="large"></ion-icon>
      </ion-button>
  
    </ion-toolbar>
  
  </div>

</ion-content>
