.productsList{
    width: 80%;
    margin: 0 auto;
}
.productContainer{
    background-size: auto 250px;
    background-position: top center;
    background-repeat: no-repeat;
    width: 30%;
    display: inline-block;
}
.productCard{
    margin-bottom: 20px;
    margin-top: 250px;
}
.toolboxContent{
    padding: 15px;
}
.cardContent{
    padding: 5px;
}
ion-input{
    border-style: solid;
}